<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>96595227358-58f7tfjccc9s03nfml02ppk1rttluti0.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.96595227358-58f7tfjccc9s03nfml02ppk1rttluti0</string>
				<string>com.michalzuch.oauth</string>
			</array>
		</dict>
	</array>
	<key>GIDServerClientID</key>
	<string>96595227358-rngtq727rkl09bcn0r22draom79o42v4.apps.googleusercontent.com</string>
</dict>
</plist>
